// $white: #fff;
// $yellow-light: #C7BBAA;
// $yellow: #B08653;
// $blue: #196AC7;
// $cyan: #3B98E5;
// $black: #394A49;

$white: #fff;
$yellow-light: #FBD97C;
$yellow: #FAAC73;
$blue: rgb(67, 59, 192);
$cyan: rgb(68, 128, 219);
$black: rgb(49, 25, 9);